<div class="main users-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form users-form">
      <div class="form-body">
        <p>ユーザー名</p>
        <h2><%= @user.name %></h2>
        <input >
        <p>メールアドレス</p>
        <p><%= @user.email %></p>
        <input >
        <input type="submit" value="保存">
      </div>
    </div>
  </div>
</div>