<header>
  <div class="header-logo">
    <a href="/top">Caian</a>
  </div>
  <ul class="header-menus">
    <a href="/about">Caianとは</a>
  </ul>
</header>

<div class="about-main">
  <h2>Cainaとは</h2>
  <p>
    チームの課題管理と実績評価機能が一つになったSNSサービスです。
  </p>
  <p>＜サービスの特徴＞</p>
  <p>1.  課題管理</p>
  <p>
  日々のちょっとした業務改善から、チームの課題について投稿、共有、管理を行う。
  </p>
  <p>2.  実績評価</p>
  <p>
  投稿数、提案数、完了数などを数値化しグラフ化、ランキング表示を行う。
  </p>
  <p>3.  SNS機能</p>
  <p>
  課題に紐づいたコメントを投稿をすることが可能。
  </p>

</div>
