<div class="main users-new">
  <div class="top-container">
    <h1 class="top-container-logo">
    Caian
    </h1>
    <div class="top-container-taitl">
      <ul>あなたの変えたいが</ul>
      <ul>チームを変える</ul>
      <li>マネージメントを楽にしたい</li>
      <li>そんな思いにCaianは答えます</li>
    </div>

    <div class="src-scenes-Static"></div>

    <div class="top-container-user-register">
      <%= link_to "ユーザー登録", new_user_path %>
    </div>

    <div class="top-container-text">
      <ul>Cainaとは</ul>
      <li>チームリーダーのマネージメントをサポートする</li>
      <li>実績評価とチケット管理が一つになったSNSサービスです</li>
      <br>
      <li>ゲストログインから</li>
      <li>無料でサービスをお試し下さい</li>
      <br>
      <ul>新規ユーザー登録 簡単1ステップ</ul>
      <br>
      <li>あなたは所属するチームのリーダーから招待を受け取りメンバーになるだけ</li>
      <li>あなたがリーダーとなって、自由にチームを作りメンバーを招待することも可能です</li>
      <li>役職や細かい権限の設定は不要。</li>
    </div>
  </div>
</div>