<header>
  <div class="header-logo">
    <a href="/top">Caian</a>
  </div>
  <ul class="header-menus">
    <a href="/about">Caianとは</a>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2><font color="fffff">あなたの変えたいが組織を変える</font></h2>
    <p><font color="fffff">思いついた、改善提案を書いてみよう！</font></p>
  </div>
</div>