<div class="main errors-index">
  <div class="container">
    <div class="rails-default-error-page">
      <div class="dialog">
        <div>
          <h1>ページが見つかりません</h1>
          <p>
          <%= link_to "トップページへ", posts_path %>
        </div>
        <p>
          お探しのページは、移動または削除された可能性があります。
        </p>
      </div>
    </div>
  </div>
</div>
