<div class="main posts-index">
  <div class="container">
    <h3>新規投稿一覧</h3>
    <hr>
    <% @posts.each do |p| %>
      <div class="post-left">
        <img src="<%= "/user_images/#{p.user.user_image}" %>">
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to(p.user.name,"/users/#{p.user.id}") %>
        </div>
      </div>
      <div class="overflow-wrap">
        <%= link_to(p.content,"/posts/#{p.id}") %>
      </div>
      <hr>
    <% end %>
  </div>
</div>
