
<div class="main users-new">
  <div class="container">
    <div class=top-main>
      <h1>Cainaとは</h1>
      <h3>チームリーダーのマネージメントをサポートする</h3>
      <h3>実績評価とチケット管理が一つになったSNSサービスです</h3>
      <br>
      <br>
      <h3>ゲストログインから</h3>
      <h3>無料でサービスをお試し下さい</h3>
      新規ユーザー登録 簡単1ステップ<br>
      <br>
      あなたは所属するチームのリーダーから招待を受け取りメンバーになるだけ。<br>
      あなたがリーダーとなって、自由にチームを作りメンバーを招待することも可能です。<br>
      役職や細かい権限の設定は不要。<br>
    </div>
  </div>
</div>
