<div class="main errors-index">
  <div class="container">
    <div class="rails-default-error-page">
      <div class="dialog">
        <div>
          <h1>ページが表示できません</h1>
          <p>
        </div>
        <p>
        ご不便をおかけし申し訳ございません。<br>
        正常にご覧いただけるよう、解決に取り組んでおります。<br>
        しばらくお時間をおいてもご覧いただけない場合、<br>
        お手数ですが <a href="URL">Caianサポート</a> までお問い合わせ下さい。
        </p>
      </div>
    </div>
  </div>
</div>
